:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.1em .2em;
  font-size: .7em;
  font-weight: 500;
  font-family: inherit;
  background-color: #a9a9a9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.whole {
  border-radius: 35px;
  background-color: #494949;
  border: 2px solid white;
  width: 35%;
  height: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5%;
}

.country_list {
  background-color: #494949;
  width: 45%;
  position: fixed;
  top: 0%;
  left: 0%;
  
}


.search_box {
  width: 20%;
  left: 5%;
  position: fixed;
  top: 10%;
  
}

.search_list {
  width: 30%;
  left: 5%;
  position: fixed;
  top: 25%;
}

.flagpreview {
  width:50%;  
 }

 .previewheading {
  width: 85%;
  border-radius: 3px;
  border: 2px #878585 dotted;
  padding: 5%;
  background-color: #363638;
  font-size: 2em;
  
}
 .previewbox {
  width: 85%;
  border-radius: 3px;
  border: 2px #878585 dotted;
  padding: 5%;
  background-color: #363638;
  font-size: 1em;
}

.previewweather {
  width: 85%;
  border-radius: 3px;
  border: 2px #878585 dotted;
  padding: 5%;
  background-color: #363638;
  font-size: 1em;
  display: flex;
  align-items: center;
  
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 1%;
}

li {
  
  border-bottom: 1px dotted;
  padding: 0.2rem;
  text-align: left;
  text-decoration: none;
  transition: all 1s ease-out;
}

li:hover,
li:focus {
  background-color: #878585;
  color: #333;
}


.base_info{
  padding: 5%;
  border-left: 3px dotted rgb(187, 187, 187);
  width: 45%;
  height: 86%;
  position: fixed;
  top: 0%;
  right: 0%;
  display: flex;
  flex-direction: column;
  gap: 1%;
  
}

.error {
  color: rgb(0, 0, 0);
  background: rgb(156, 12, 12);
  font-size: 1em;
  padding: 1%;
  border-radius: 8px;
  width: 30%;
  height: 3%;
  position: fixed;
  bottom: 0%;
  right: 0%;
  margin: 1%;
  text-align: center;
}